<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
        id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <h1> Add item </h1>

<body>
    <form action="/add_item_sql" method="post">

        <div class="well">
            <table class="table">
                <thead>
                    <th>Item name</th>
                    <th>Quantity</th>
                    <!-- <th style="width: 36px;"></th> -->
                    </tr>
                </thead>

                <tbody>

                    <tr>
                        <td>
                            <input name="item_name" id="item_name" autocomplete="off" autofocus class="form-control"
                                placeholder="Item" type="text" />
                        </td>
                        <td><input name="quantity" id="quantity" autocomplete="off" autofocus class="form-control"
                                placeholder="Quantity" type="text" /></td>
                    </tr>

        </div>


        <button id="submit">Submit</button>

    </form>


    </tbody>
    </table>
    </div>

</body>

</head>

<body>

</body>

</html>