<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <h1> Inventory management system </h1>
    <title>
        Inventory management system
    </title>

    <!-- <button onclick="location.href='new_invoice.html'" type="button"> New Invoice </button> -->
    <button onclick="location.href='create_invoice'" type="button"> Create Invoice </button>
    <button onclick="location.href='view_stock'" type="button"> View stock </button>
    <button onclick="location.href='add_item'" type="button"> Add item </button>
    <button onclick="location.href='view_invoice'" type="button"> View Invoice </button>

</head>

<body>

</body>

</html>