<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>po-1</title>
<link href="file:///C|/Users/PARTHIV/AppData/Roaming/Adobe/Dreamweaver 2020/en_US/Configuration/Temp/Assets/eamE974.tmp/css/bootstrap-4.3.1.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="card col-md-4">
  <div class="card-header"> Name&nbsp; </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">1</li>
    <li class="list-group-item">2</li>
    <li class="list-group-item">3</li>
  </ul>
</div>
	
<div class="card col-md-4">
  <div class="card-header"> Quantity&nbsp;&nbsp; </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Q - 1&nbsp;&nbsp;</li>
    <li class="list-group-item">Q - 2&nbsp;</li>
    <li class="list-group-item">Q - 3&nbsp;</li>
  </ul>
</div>

<script src="file:///C|/Users/PARTHIV/AppData/Roaming/Adobe/Dreamweaver 2020/en_US/Configuration/Temp/Assets/eamE974.tmp/js/jquery-3.3.1.min.js"></script>
<script src="file:///C|/Users/PARTHIV/AppData/Roaming/Adobe/Dreamweaver 2020/en_US/Configuration/Temp/Assets/eamE974.tmp/js/popper.min.js"></script>
<script src="file:///C|/Users/PARTHIV/AppData/Roaming/Adobe/Dreamweaver 2020/en_US/Configuration/Temp/Assets/eamE974.tmp/js/bootstrap-4.3.1.js"></script>
</body>
</html>
